@{
    ViewBag.Title = "Wishroll";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>They see me rolling, they wishing.</h2>
            </hgroup>
            <h3>@Html.ActionLink("Go to my user profile", "Index", "User")</h3>
        </div>
    </section>
}
